<div class="widget link">
  <h3 class="title">Link</h3>
  <ul class="entry">
  	<li><a href="http://lovemew67.github.io/" target="_blank">FireCat</a></li>
  	<li><a href="http://eva0919.github.io/" target="_blank">Mikeva</a></li>
  	<li><a href="http://michaelhsu.tw/" target="_blank">Michael Hsu.tw</a></li>
  	<li><a href="http://andikan.github.io/" target="_blank">Andikan Blog</a></li>

  </ul>
</div>