<div class="widget recent_comment">
  <h3 class="title">Recent comment</h3>
  <script type="text/javascript" src="http://kpmancode.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200&hide_mods=0"></script>
</div>