<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://cdn-theme.logdown.io/iaawd/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <style>
    body {
        padding: 0;
    }
    a {
     color: #1da8ea;
    }
    .l-header {
      position: relative;
    }
    .article__body p img {
        max-width: 100%;
            display: block;
        margin: 0 auto;
        }
    .article__body blockquote p {
        padding-left: 20px;
            border-left: 3px solid #1da8ea;
    }
    .author__inter__name {
      font-size: 1.5em;
        font-family: 'Oswald',sans-serif;
      text-transform: uppercase;
    }
    .author__inter__name a {
      color: #333;
    }
  </style>
</head>
<body class="logdown">

  <header class="l-header header">
    <div class="container clearfix">
      <div class="author author--horizontal l-header__author">
        <a class="avatar author__avatar l-header__author__avatar" href="{{ blog.absolute_url }}" style="background-image: url(http://www.gravatar.com/avatar/{{ blog.author_gravatar_hash }}?s=100)">Home</a>
        <hgroup class="author__inter">
          <h2 class="author__inter__name l-header__author__avatar__inter__name"><a href="{{ blog.absolute_url }}">{{ blog.title }}</a></h2>
          <h3 class="author__inter__title">創造一個自己的價值</h3>
        </hgroup>
      </div>
      <div class="l-header__social">
        <ul class="l-header__social__list">
          <li class="l-header__social__list__item social-icon social-icon--big"><a href="{{ blog.rss_url }}">&#xe271;</a>
          <li class="l-header__social__list__item social-icon social-icon--big"><a href="{{ blog.author_github_profile_link }}">&#xe237;</a>
          <li class="l-header__social__list__item social-icon social-icon--big"><a href="{{ blog.author_facebook_profile_link }}">&#xe227;</a>
        </ul>
      </div>
    </div>
  </header>

  <main role="main">
    <div class="container">
      {% block archives_page %}
      <section class="archive">
        {% block archives %}
        <ul class="article-list">
          {% block posts %}
          <li class="article-list__item">
            <article class="article clearfix">
              <header class="article__header">
                <h1 class="article__title"><a href="{{ post.absolute_url }}">{{ post.title }}</a></h1>
                <time class="article__date">{{ post.published_at }}</time>
              </header>
            </article>
          </li>
          {% endblock %}
        </ul>
        {% endblock %}
      </section>
      {% endblock %}

      {% block index_page|tags_page %}
      <ul class="article-list">
        {% block posts %}
        <li class="article-list__item">
          <article class="article clearfix">
            <header class="article__header">
              <h1 class="article__title"><a href="{{ post.absolute_url }}">{{ post.title }}</a></h1>
              <time class="article__date">{{ post.published_at.time_ago }}</time>
            </header>
            <div class="article__body">
              {% block index_page|tags_page %}
                {{ post.excerpt_content }}
                {% block readmore %}
                <a href="{{post.absolute_url}}" class="more">Read on →</a>
                {% endblock %}
              {% endblock %}
            </div>
          </article>
        </li>
        {% endblock %}
      </ul>
      {% endblock %}

      {% block show_page %}
      <article class="article clearfix">
        <header class="article__header">
          <h1 class="article__title"><a href="{{ post.absolute_url }}">{{ post.title }}</a></h1>
          <time class="article__date">{{ post.published_at.time_ago }}</time>
        </header>
        <div class="article__body">
        {{ post.content }}
        </div>
      </article>
      
        {% block twitter_sharing %}
          <a href="https://twitter.com/share?" class="twitter-share-button">Tweet</a>
        {% endblock %}
        {% block google_plus_sharing %}
          <div class="g-plusone" data-size="medium"></div>
        {% endblock %}
        {% block facebook_sharing %}
          <div class="fb-like" data-href="{{post.absolute_url}}" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"></div>
        {% endblock %}
      
        {% block disqus %}
        <section id="comment">
          <h2 class="title">Comments</h2>
          {% disqus %}
        </section>
        {% endblock %}
      {% endblock %}
      
      
      
      {% block pagination %}
        <div class="pagination">
          {% block previous_page %}
            <a class="pagination__prev" href="{{ previous_page_url }}">Previous</a>
          {% endblock %}
          {% block next_page %}
            <a class="pagination__next" href="{{ next_page_url }}">Next</a>
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </main>

  <footer class="l-footer footer">
    <div class="container">
      <p>Copyright © 2014 {{ blog.user_name }} . <span class="underline underline--grey">Theme iaawd by <a href="http://poying.me">poying</a></span></p>
    </div>
  </footer>
</body>
</html>
